#popup
{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  position: relative;

  .message {
    font-size: 25px;
    font-family: Arial, sans-serif;
    margin-left: 7%;
  }

  button {
    background-color: #009bca;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #009BCF;
    font-size: smaller;
    padding: 10px;
    margin: 5px;
    width: 100px;
    cursor: pointer;
  }

  button:hover
  {
    background-color: #047fca;
  }

  .button-container {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  #popup-icon {
    position: absolute;
  }

  .cancel {
    right: 5px;
    top: 0;
    position: absolute;
    cursor: pointer;
  }

  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }

  @media only screen and (max-width: 1000px) {
    #popup-icon {
      display: none;
    }

    .message {
      font-size: 18px;
      margin-left: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    .button-container {
      position: relative;
    }
  }
}

.alert {
  &__success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  &__danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}